# Git ile ilgili dosyalar
.git
.gitignore

# IDE/editor konfigürasyon dosyaları
.vscode
.idea
*.swp

# Sistem dosyaları
.DS_Store
Thumbs.db

# Go build çıktıları
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go mod cache veya workspace dosyaları
/pkg/
/bin/

# Ortam dosyaları
.env
.env.*

# Docker compose 
docker-compose.yml
docker-compose.*.yml


# Test coverage ve benzeri geçici dosyalar
*.log
*.tmp
*.env
coverage.*
